<footer class='w-full bottom-0 text-center border-t border-grey p-1 mt-auto bg-gray-900 text-white'>
   
    <p>Call Us Today!</p>
    <a href="tel: 123-456-7890">760-760-7660</a>
     <p>&copy 2020 North County CCTV</p>
</footer>
