<nav class="bg-gray-500 w-full">
<ul class="flex justify-around md:justify-start">
  <li class="mb-0 mr-1 p-1 bg-gray-300 border-2  border-blue-500 hover:bg-white rounded-t-lg "><a href="/">Home</a></li>
  <li class="mb-0 mx-1 p-1 bg-gray-300 border-2  border-blue-500 hover:bg-white rounded-t-lg "><a href="/service">Services</a></li>
  <li class="mb-0 mx-1 p-1 bg-gray-300 border-2  border-blue-500 hover:bg-white rounded-t-lg "><a href="/contact">Contact</a></li>
  {{!-- <li class="mb-0 mx-1 p-1 bg-gray-300 border-2  border-blue-500 hover:bg-white rounded-t-lg "><a href="/about">About</a></li> --}}
</ul>
</nav>