<div class=" h-screen ">
<div class=" mt-12 mx-auto text-center border w-3/4  p-5 rounded-full border-2 border-blue-500 bg-gray-300
  md:w-1/4 md:p-10">
    <h1 class="text-2xl ">Your Form was Successfully Submitted!</h1>
    <br>
    <p class="text-xl">A rep will contact you ASAP!</p>
</div>
</div>
<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/";
  }, 3000)
</script>