<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/" /> <!-- for local host -->
    <link rel="shortcut icon" type="image/x-icon" href="Images/icon.png" />
    <link rel="stylesheet" href="Style/custom.css">
    <link rel="stylesheet" href="Style/styles.css">
    <title>North CCTV</title>
</head>
<body class="font-mono">
    <div class="h-full">
    {{>_navbar}} {{!-- this is a partial --}}
    {{{body}}}
    {{>_footer}}
    </div>
</body>

</html>