{{>_heroImage}}
<div class="md:flex md:flex-row md:justify-around ">
<div class="flex flex-grow flex-col w-3/4 m-auto my-5 border border-2 border-blue-500 bg-gray-300 shadow-lg rounded-t-lg
           md:w-1/5 md:m-5">
    <h1 class="text-center text-lg font-bold my-2 md:text-2xl ">Free Consultations</h1>
<img src="Images/Consultation.jpg" class=" flex-center mx-auto">
<div class="">
    <ul class="ml-8 list-disc italic md:text-lg">
        <li>Perform a comprehensive security analysis</li>
        <li>Physical assessment of the home layout</li>
        <li>Offer variety of products to fit your budget and needs</li>
        <li>Intergrated Phone App</li>
   </ul>
</div>
</div>
{{!-- Card 2 --}}
<div class="flex flex-grow flex-col w-3/4 m-auto my-5 border border-2 border-blue-500 bg-gray-300 shadow-lg rounded-t-lg
           md:w-1/4  md:m-5 ">
    <h1 class="text-center text-lg font-bold my-2 md:text-2xl ">Smart Home Technology</h1>
<img src="Images/SmartHome.jpg" class=" flex-center mx-auto">
<div class="">
    <ul class="ml-8 list-disc italic md:text-lg">
        <li class="mt-2">Smart Door Locks</li>
        <li class="mt-2">Smart Fire And Flood Detection</li>
        <li class="mt-2">Smart Carbon Monoxide Detection</li>
   </ul>
</div>
</div>
{{!-- Card 3 --}}
<div class="flex flex-grow flex-col w-3/4 m-auto my-5 border border-2 border-blue-500 bg-gray-300 shadow-lg rounded-t-lg
           md:w-1/4  md:m-5 ">
    <h1 class="text-center text-lg font-bold my-2 md:text-2xl ">Indoor/Outdoor CCTV Systems</h1>
<img src="Images/PhoneApp.jpg" class=" flex-center mx-auto">
<div class="">
    <ul class="ml-8 list-disc italic md:text-lg">
        <li>Wired Systems</li>
        <li>Wireless Setups</li>
        <li>Night Vision Monitoring</li>
        <li>Intergrated Phone App</li>
   </ul>
</div>
</div>

</div>
